ul.review-rating li i {
color: #FFD700;
}
.indentity {
margin: 0!important;
font-size: 11px;
color: #666666;
}



.head-review h3 {
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 15px;
line-height: 1.4em;
color: #333333;
margin:0px;
}
.review-main{
position: relative;
float: left;
overflow: hidden;
margin: 10px 1%;
padding: 0 20px;
text-align: left;
box-shadow: none !important;
}
.review * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.review img {
vertical-align: middle;
width: 15%;
margin: 10px 10px 0 10px;
}
.review .review-inner {
background-color: #ffffff;
display: block;
margin: 0;
padding: 20px 20px 20px;
position: relative;
border-radius: 20px;
}



.review .review-p:before {
content: '';
width: 22px;
height: 22px;
//background: url('../img/google.png');
position: absolute;
right: 20px;
top: 20px;
}
.review .btn {
top: 100%;
width: 0;
height: 0;
border-left: 0 solid transparent;
border-right: 25px solid transparent;
border-top: 25px solid #fff;
margin: 0;
position: absolute;
}
.review .peopl {
position: absolute;
bottom: 45px;
padding: 0 10px 0 120px;
margin: 0;
color: #ffffff;
-webkit-transform: translateY(50%);
transform: translateY(50%);
}
.review .peopl h3 {
opacity: 0.9;
margin: 0;
}



ul.review-rating li {
list-style-type: none;
display: inline;
}
ul.review-rating {
padding: 0;
margin: 0;
}

.review-p {
height: 120px;
overflow: auto;
padding-right: 10px;
font-size: 14px;
font-weight: 400;
line-height: 1.5em;
}
.all-cmn-cstm{
	    padding-bottom: 15px;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
border-radius:15px;
}